$display: 'Sofachrome';
$primary: 'ofelia-text', sans-serif;
$dark-purple: #492E9F;
$light-purple: #7449FF;
$pink: #C19AB7;
$brown: #463F3A;
$space-white: #E0EFDE;
$space-black: #313132;
$launch-red: #EE6C4D;

:root {
  color: $space-white;
  background: $space-black;
}

h1 {
  font-size: 1.875rem;
  @media (min-width: 1080px){
    padding-top: 5em;
  }
  font-family: $display;
  text-align: center;
}