---
export interface Props {
  title: string;
}
import Navbar from "../components/Navbar.svelte";
const { title } = Astro.props;
import "../_variables.scss";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://use.typekit.net/gqz4uir.css" />
    <meta charset="UTF-8" />
    <script
      src="https://kit.fontawesome.com/d6d2386d36.js"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-screen h-screen bg-space-black">
    <slot />
    <Navbar />
  </body>
</html>
<style>
  html {
    scroll-behavior: smooth;
    overflow: hidden;
  }
  * {
    font-family: "microgramma-extended", sans-serif;
  }
</style>
